body {
	background: -webkit-linear-gradient(#3b3b3b, #545454);
	background: -o-linear-gradient(#3b3b3b, #545454);
  	background: -moz-linear-gradient(#3b3b3b, #545454); 
	background: linear-gradient(#3b3b3b, #545454);
	margin: 0;
	padding: 0;
}

h1 {
	margin: 2px 0 0 10px;
	color: #fff
}

#main_left{
	margin-right: 0px;
	margin-top: 0px;

}

#main_right{
	margin-left: 0px;
	margin-top: 0px;
}

.blok100 {
	width: 100%;
	float: left;
	
}

.blok50 {
	width: 50%;
	float: left;
	
}

#emotiemeter {
	height: 50px;
	margin: 5px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #00A0B1;
}

#welkom {
	height: 160px;
	margin: 5px;
	background-color: #2E8DEF;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#welkomblok {
	padding: 10px;
}

#welkom p {
	color: #ffffff;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	word-break: break-word;
}

#weer {
	height: 160px;
	margin: 5px;
	background-color: #A700AE;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#aanmoedigingen {
	height: 160px;
	margin: 5px;
	background-color: #643EBF;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#diagram {
	height: 220px;
	margin: 5px;
	background-color: #DC572E;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#zoekfunctie {
	height: 50px;
	margin: 5px;
	border-radius: 0 10px 0 0;
	background-color: #DC572E;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#mededelingen {
	height: 180px;
	margin: 5px;
	background-color: #00A600;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#mededelingen .tweet-list li.stream-item {
    height: 90px;
    line-height: inherit;
}

#mededelingen .tweet-list .tweet p{
	font-size: 12px;
	line-height: 15px;
    word-break: break-word;
}

#mededelingen .tweet-list a {
	color: #00520b;
}

#mededelingen .tweet-list .stream-item:hover {
    background-color: #00b824;
}

#taart {
	height: 160px;
	padding-top: 5px;
}

#ongelukken {
	height: 180px;
	margin: 5px;
	background-color: #0A5BC4;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#taartkaart {
	height: 180px;
	margin: 5px;
	background-color: #008299;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#taartkaart h3{
	color: #fff;
	margin: 0;
    text-align: center;
}